/* Color */
// Orange
$orange: #ff8f44;
$orange2: #ff7f29;

// Blue
$blue1: #3c8cc4;
$blue2: #1c5379;
$blueFonts: #abc5ea;

//background-default
$bgColor: #f4f4f4;
$offWhite: #ededed;
$textColor: #505050;

//standard
$white: #fff;
$black: #333;
